@tailwind base;
@tailwind components;
@tailwind utilities;

.vukkyCard {
    @apply border-2 rounded-lg w-56 m-1.5 content-center text-center break-words shadow-lg;
}

.h-dyn {
    height: calc(1.5em + 7vw);
}

.fs-dyn {
    font-size: calc(0.25em + 1.5vw);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.nav {
    @apply flex flex-row justify-between bg-gray-900 text-white w-full h-12 items-center;
}

.nav-user {
    @apply mx-2 hover:bg-gray-800 rounded-lg p-2 cursor-pointer select-none;
}

.nav-login {
    @apply mx-2 hover:bg-gray-800 rounded-lg p-2 cursor-pointer select-none
}

.hover-cover {
    @apply rounded-full flex items-center bg-black bg-opacity-0 overflow-hidden z-40 opacity-0 w-32 h-32 hover:bg-opacity-60 hover:opacity-100 transition-all duration-[150ms] p-5 select-none hover:select-auto;
}

.avatar-container {
    @apply w-32 h-32 hover:select-none select-auto;
}

.profile-card {
    @apply bg-gray-600 rounded-lg shadow-lg mx-auto my-5 w-3/4 p-2;
}

.tab-card {
    @apply profile-card text-white;
    padding: 0 !important;
    @apply bg-gray-700 !important;
}

.btn {
    @apply text-black rounded-lg px-2 py-1 bg-gray-200 shadow-lg hover:bg-gray-400 rounded-sm my-0.5 cursor-pointer;
}

.btn-green {
    @apply btn;
    @apply bg-green-400 hover:bg-green-500 !important;
}

.btn-red {
    @apply btn;
    @apply bg-red-400 hover:bg-red-500 !important;
}

.trophycase {
    @apply bg-gray-300 rounded-lg m-2 p-2;
}

/*
    Flags
*/

.flag {
    @apply hover:bg-gray-400 w-32 h-36 text-center rounded-lg p-2 transition-colors ease-in-out duration-100;
}

.flag-container {
    @apply flex flex-row flex-wrap
}

.flag-name {
    @apply font-semibold break-words text-ellipsis line-clamp-2 leading-tight;
}

/*
    Other
*/

.flag-image {
    @apply mx-auto m-2 max-h-16;
}

.fuckingstop {
    @apply text-red-600 text-6xl;
}

.notification {
    @apply bg-gray-300 rounded-lg p-2.5 m-2 w-96 text-black;
}

.notification-read {
    @apply bg-gray-200 text-gray-600;
}

.nav-button {
    @apply p-1 rounded-lg cursor-pointer hover:bg-gray-800 select-none;
}

.tab {
    @apply bg-gray-600 rounded-t-lg p-2 m-2 mb-0 mr-0 cursor-pointer select-none;
}

.tab-selected {
    @apply bg-gray-700;
}

.tab-bar {
    @apply bg-gray-300 rounded-t-lg w-full text-white flex flex-row;
}

.input-box {
    @apply p-1 rounded-md border border-gray-600 bg-gray-200 text-gray-900 my-2 outline-none focus:border-gray-500;
}