<div <% if (editMode) { %>draggable="true"<% } %> id="2">
    <table class="mx-auto w-4/5">
        <% if (editMode) { %>
            <i class="fa-solid fa-grip text-gray-400"></i>
        <% } %>
        <tr>
            <td class="p-2 w-full text-center">
                <% if (editMode) { %>
                <label for="bio-input"></label><textarea id="bio-input" class="text-black bio-input w-full" rows=4 maxlength="512" placeholder="Bio goes here..."><%=puser.profile.bio%></textarea>
                <% } else { %>
                    <p class="text-white whitespace-pre-wrap"><%=puser.profile.bio%></p>
                <% } %>
            </td>
        </tr>
    </table>
</div>