<div <% if (editMode) { %>draggable="true"<% } %> id="0">
    <table class="mx-auto">
        <% if (editMode) { %>
            <i class="fa-solid fa-grip text-gray-400"></i>
        <% } %>
        <tr>
            <td class="p-2">
                <% if (editMode) { %>
                <div style="display: grid;place-items: center;grid-template-areas: 'inner-div';" class="h-full w-full">
                    <div style="grid-area: inner-div;" class="hover-cover">
                        <a href="https://auth.litdevs.org/designer" class="text-white text-4xl mx-auto"><i class="fa-solid fa-pen "></i></a>
                    </div>
                    <div style="grid-area: inner-div;" class="avatar-container">
                        <% } %>
                        <img alt="<%=puser.username%>'s profile picture" src="https://auth.litdevs.org/api/avatar/bg/<%=puser.litauthId%>" class="avatar rounded-full w-32 h-32">
                        <% if (editMode) { %>
                    </div>
                </div>
                <% } %>
            </td>
            <td class="p-2 text-white">
                <p><%=puser.username%></p><br>
                <a class="text-blue-500" href="/collection?user=<%=puser._id%>">View collection</a>
            </td>
        </tr>
    </table>
</div>