<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<div <% if (editMode) { %>draggable="true"<% } %> id="1">
    <% if (editMode) { %>
    <i class="fa-solid fa-grip text-gray-400"></i>
    <% } %>
    <div class="trophycase">
        <p class="font-bold">Badges</p>
        <div class="flag-container">
            <%if(puser.flags && puser.flags.length > 0) { %>
                <%
                    if (puser.flags) {
                        puser.flags.forEach(flag => {
							flag
                            // flag is an object, { flag: number, date: Date, reason: string }
                            %><%- include("flag.ejs", { flag }); %><%
                        })
                    }
                %>
            <% } else { %>
                <p><%=lang.flags.noflags%></p>
            <% } %>
        </div>
    </div>
</div>