<div class="flex-shrink-0 w-full bottom-0 bg-gray-900 text-white">
    <p><%=lang.footer.footerTempText %></p><img alt="flashing 'web design is my passion' sign" src="/design.gif">
</div>
<script>
    // TODO - Use data formatting in notifications
	// Loop through each date formatter match <$date:Sun Oct 03 2022 14:53:15 GMT+0300 (Eastern European Summer Time)>
	document.body.innerHTML = document.body.innerHTML.replace(dateFormatterRegex, (match) => {
		// Isolate the date portion of the match
		let date = new Date(match.split("&lt;$date:")[1].split("&gt;")[0]);
		// return formatted date
		return `${date.toLocaleString("<%=lang.lang %>")}`
	});
</script>
