<% if (friendStatus === 0 || friendStatus === 1 ) { %>
    <span class="cursor-pointer rounded-md border-2 p-0.5 hover:border-red-400 hover:text-red-400 transition-all"
          onclick="document.getElementById('heart').classList.replace('fa-heart', 'fa-hand-holding-heart');
		  document.getElementById('heart').classList.replace('fa-regular', 'fa-solid');
		  this.innerHTML = this.innerHTML.replace('Friend', 'Request sent!')<%if(friendStatus === 0) {%>;friendRequest()<%}%>">
        <%= friendStatus === 1 ? "Request sent!" : "Friend"%> <i id="heart" class="<%=friendStatus === 1 ? "fa-solid fa-hand-holding-heart" : "fa-regular fa-heart"%>"></i></span>
<script>
    function friendRequest() {
		fetch("/api/v1/friendship/add", {
			method: "POST",
            headers: {
				"Content-Type": "application/json"
            },
            body: JSON.stringify({
                friendId: "<%=puser._id.toString()%>"
            })
        }).then(res => res.json()).then(res => {
			if (res.error) {
				return alert(res.error);
            }
        })
    }
</script>
<% } else { %>
    <span class="cursor-pointer rounded-md border-2 border-red-500 p-0.5 text-red-500"
          onmouseenter="document.getElementById('heart').classList.replace('fa-heart', 'fa-heart-crack');
		  this.innerHTML = this.innerHTML.replace('Friended', 'Unfriend?')"

          onmouseleave="document.getElementById('heart').classList.replace('fa-heart-crack', 'fa-heart');
		  this.innerHTML = this.innerHTML.replace('Unfriend?', 'Friended')">
        Friended <i id="heart" class="fa-solid fa-heart"></i>
    </span>
<% } %>
